## Exercícios

> Retirados de [learn-python: sqlalchemy_orm-questions](https://aviadr1.github.io/learn-advanced-python/11_db_access/exercise/sqlalchemy_orm-questions.html).

#### Q1.

Baixa e extraia o arquivo compactado com o banco de dados [Chinook database](https://www.sqlitetutorial.net/sqlite-sample-database/). Salve o arquivo `chinook.db` na mesma pasta deste script.
* Link para baixar: http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

<img width=500 src=https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg>

#### Q2.

Leia o código e os comentários das células a seguir para entender como acessamos os modelos ORM de um banco já existente.

In [1]:
from sqlalchemy import create_engine, text, MetaData
from sqlalchemy.orm import Session

engine = create_engine("sqlite+pysqlite:///chinook.db", echo=False)

### extrai as classes da base de dados Chinook
metadata = MetaData()
metadata.reflect(engine)

# O metadata tem informações sobre as tabelas
# que serão usadas para criar os modelos ORM
for table_name, table in metadata.tables.items():
    print(table_name)
    print(table.columns.keys())
    print(table.columns.items())
    print('-'*25)

### configura o objeto Base mapeando os modelos ORM das tabelas
from sqlalchemy.ext.automap import automap_base
Base = automap_base(metadata=metadata)
Base.prepare()

# o objeto Base tem os modelos ORM que podemos usar
# para manipular o banco de dados
print(Base.classes.items())

albums
['AlbumId', 'Title', 'ArtistId']
[('AlbumId', Column('AlbumId', INTEGER(), table=<albums>, primary_key=True, nullable=False)), ('Title', Column('Title', NVARCHAR(length=160), table=<albums>, nullable=False)), ('ArtistId', Column('ArtistId', INTEGER(), ForeignKey('artists.ArtistId'), table=<albums>, nullable=False))]
-------------------------
artists
['ArtistId', 'Name']
[('ArtistId', Column('ArtistId', INTEGER(), table=<artists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<artists>))]
-------------------------
customers
['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']
[('CustomerId', Column('CustomerId', INTEGER(), table=<customers>, primary_key=True, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False)), ('Company', Column('Company', NVARCHAR(length=80), table=<customers>)), ('Address', Column('Address', NVARCHAR(length=70), table=<customers>)), ('City', Column('City', NVARCHAR(length=40), table=<customers>)), ('State', Column('State', NVARCHAR(length=40), table=<customers>)), ('Country', Column('Country', NVARCHAR(length=40), table=<customers>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<customers>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<customers>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<customers>)), ('Email', Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False)), ('SupportRepId', Column('SupportRepId', INTEGER(), ForeignKey('employees.EmployeeId'), table=<customers>))]
-------------------------
employees
['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
[('EmployeeId', Column('EmployeeId', INTEGER(), table=<employees>, primary_key=True, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('Title', Column('Title', NVARCHAR(length=30), table=<employees>)), ('ReportsTo', Column('ReportsTo', INTEGER(), ForeignKey('employees.EmployeeId'), table=<employees>)), ('BirthDate', Column('BirthDate', DATETIME(), table=<employees>)), ('HireDate', Column('HireDate', DATETIME(), table=<employees>)), ('Address', Column('Address', NVARCHAR(length=70), table=<employees>)), ('City', Column('City', NVARCHAR(length=40), table=<employees>)), ('State', Column('State', NVARCHAR(length=40), table=<employees>)), ('Country', Column('Country', NVARCHAR(length=40), table=<employees>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<employees>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<employees>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<employees>)), ('Email', Column('Email', NVARCHAR(length=60), table=<employees>))]
-------------------------
genres
['GenreId', 'Name']
[('GenreId', Column('GenreId', INTEGER(), table=<genres>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<genres>))]
-------------------------
invoice_items
['InvoiceLineId', 'InvoiceId', 'TrackId', 'UnitPrice', 'Quantity']
[('InvoiceLineId', Column('InvoiceLineId', INTEGER(), table=<invoice_items>, primary_key=True, nullable=False)), ('InvoiceId', Column('InvoiceId', INTEGER(), ForeignKey('invoices.InvoiceId'), table=<invoice_items>, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<invoice_items>, nullable=False)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<invoice_items>, nullable=False)), ('Quantity', Column('Quantity', INTEGER(), table=<invoice_items>, nullable=False))]
-------------------------
tracks
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
[('TrackId', Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False)), ('AlbumId', Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>)), ('MediaTypeId', Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False)), ('GenreId', Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>)), ('Composer', Column('Composer', NVARCHAR(length=220), table=<tracks>)), ('Milliseconds', Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False)), ('Bytes', Column('Bytes', INTEGER(), table=<tracks>)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False))]
-------------------------
media_types
['MediaTypeId', 'Name']
[('MediaTypeId', Column('MediaTypeId', INTEGER(), table=<media_types>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<media_types>))]
-------------------------
invoices
['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']
[('InvoiceId', Column('InvoiceId', INTEGER(), table=<invoices>, primary_key=True, nullable=False)), ('CustomerId', Column('CustomerId', INTEGER(), ForeignKey('customers.CustomerId'), table=<invoices>, nullable=False)), ('InvoiceDate', Column('InvoiceDate', DATETIME(), table=<invoices>, nullable=False)), ('BillingAddress', Column('BillingAddress', NVARCHAR(length=70), table=<invoices>)), ('BillingCity', Column('BillingCity', NVARCHAR(length=40), table=<invoices>)), ('BillingState', Column('BillingState', NVARCHAR(length=40), table=<invoices>)), ('BillingCountry', Column('BillingCountry', NVARCHAR(length=40), table=<invoices>)), ('BillingPostalCode', Column('BillingPostalCode', NVARCHAR(length=10), table=<invoices>)), ('Total', Column('Total', NUMERIC(precision=10, scale=2), table=<invoices>, nullable=False))]
-------------------------
playlist_track
['PlaylistId', 'TrackId']
[('PlaylistId', Column('PlaylistId', INTEGER(), ForeignKey('playlists.PlaylistId'), table=<playlist_track>, primary_key=True, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<playlist_track>, primary_key=True, nullable=False))]
-------------------------
playlists
['PlaylistId', 'Name']
[('PlaylistId', Column('PlaylistId', INTEGER(), table=<playlists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<playlists>))]
-------------------------
[('playlists', <class 'sqlalchemy.ext.automap.playlists'>), ('employees', <class 'sqlalchemy.ext.automap.employees'>), ('genres', <class 'sqlalchemy.ext.automap.genres'>), ('invoice_items', <class 'sqlalchemy.ext.automap.invoice_items'>), ('media_types', <class 'sqlalchemy.ext.automap.media_types'>), ('customers', <class 'sqlalchemy.ext.automap.customers'>), ('albums', <class 'sqlalchemy.ext.automap.albums'>), ('invoices', <class 'sqlalchemy.ext.automap.invoices'>), ('artists', <class 'sqlalchemy.ext.automap.artists'>), ('tracks', <class 'sqlalchemy.ext.automap.tracks'>)]

In [3]:
from sqlalchemy import select

# A seguir um exemplo de query na tabela Albums
# usamos o objeto Base para acessar cada modelo ORM.

session = Session(engine)
res = session.scalars(select(Base.classes.albums))
first_album = res.first()
print(first_album.AlbumId, first_album.Title)

1 For Those About To Rock We Salute You

#### Q3. 
Com base nos códigos anteriores realize as operações solicitadas nas células a seguir:

In [5]:
### Imprima os três primeiros registros da tabela tracks
res_tracks = session.scalars(select(Base.classes.tracks).limit(3))
for track in res_tracks:
    print(track.TrackId, track.Name, track.Composer)

1 For Those About To Rock (We Salute You) Angus Young, Malcolm Young, Brian Johnson
2 Balls to the Wall None
3 Fast As a Shark F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman

In [7]:
### Imprima o nome da faixa e o título do álbum das primeiras 20 faixas na tabela tracks.
res_tracks_albums = session.execute(
    select(Base.classes.tracks.Name, Base.classes.albums.Title).join(
        Base.classes.albums,    
        Base.classes.tracks.AlbumId == Base.classes.albums.AlbumId
    ).limit(20)
)
for track_name, album_title in res_tracks_albums:
    print(track_name, "-", album_title)

For Those About To Rock (We Salute You) - For Those About To Rock We Salute You
Put The Finger On You - For Those About To Rock We Salute You
Let's Get It Up - For Those About To Rock We Salute You
Inject The Venom - For Those About To Rock We Salute You
Snowballed - For Those About To Rock We Salute You
Evil Walks - For Those About To Rock We Salute You
C.O.D. - For Those About To Rock We Salute You
Breaking The Rules - For Those About To Rock We Salute You
Night Of The Long Knives - For Those About To Rock We Salute You
Spellbound - For Those About To Rock We Salute You
Balls to the Wall - Balls to the Wall
Fast As a Shark - Restless and Wild
Restless and Wild - Restless and Wild
Princess of the Dawn - Restless and Wild
Go Down - Let There Be Rock
Dog Eat Dog - Let There Be Rock
Let There Be Rock - Let There Be Rock
Bad Boy Boogie - Let There Be Rock
Problem Child - Let There Be Rock
Overdose - Let There Be Rock

In [8]:
### Imprima as 10 primeiras vendas de faixas da tabela invoice_items
### Para essas 10 primeiras vendas, imprima os nomes das faixas vendidas e a quantidade vendida.
res_invoice_items = session.execute(
    select(Base.classes.invoice_items.Quantity, Base.classes.tracks.Name).join(
        Base.classes.tracks,
        Base.classes.invoice_items.TrackId == Base.classes.tracks.TrackId
    ).limit(10)
)
for quantity, track_name in res_invoice_items:
    print(f"Quantidade: {quantity} - Faixa: {track_name}")      
### Imprima as 10 primeiras vendas de faixas da tabela invoice_items
### Para essas 10 primeiras vendas, imprima os nomes das faixas vendidas e a
### quantidade vendida.
res_invoice_items = session.execute(
    select(Base.classes.invoice_items.Quantity, Base.classes.tracks.Name).join(
        Base.classes.tracks,
        Base.classes.invoice_items.TrackId == Base.classes.tracks.TrackId
    ).limit(10)
)
for quantity, track_name in res_invoice_items:
    print(f"Quantidade: {quantity} - Faixa: {track_name}")

session.close()

Quantidade: 1 - Faixa: Balls to the Wall
Quantidade: 1 - Faixa: Restless and Wild
Quantidade: 1 - Faixa: Put The Finger On You
Quantidade: 1 - Faixa: Inject The Venom
Quantidade: 1 - Faixa: Evil Walks
Quantidade: 1 - Faixa: Breaking The Rules
Quantidade: 1 - Faixa: Dog Eat Dog
Quantidade: 1 - Faixa: Overdose
Quantidade: 1 - Faixa: Love In An Elevator
Quantidade: 1 - Faixa: Janie's Got A Gun
Quantidade: 1 - Faixa: Balls to the Wall
Quantidade: 1 - Faixa: Restless and Wild
Quantidade: 1 - Faixa: Put The Finger On You
Quantidade: 1 - Faixa: Inject The Venom
Quantidade: 1 - Faixa: Evil Walks
Quantidade: 1 - Faixa: Breaking The Rules
Quantidade: 1 - Faixa: Dog Eat Dog
Quantidade: 1 - Faixa: Overdose
Quantidade: 1 - Faixa: Love In An Elevator
Quantidade: 1 - Faixa: Janie's Got A Gun

In [10]:
from sqlalchemy import func

### Imprima os nomes das 10 faixas mais vendidas e quantas vezes foram vendidas.
def get_top_selling_tracks(session, top_n=10):
    res_top_tracks = session.execute(
        select(
            Base.classes.tracks.Name,
            func.sum(Base.classes.invoice_items.Quantity).label('total_sold')
        ).join(
            Base.classes.invoice_items,
            Base.classes.tracks.TrackId == Base.classes.invoice_items.TrackId
        ).group_by(
            Base.classes.tracks.Name
        ).order_by(
            text('total_sold DESC')
        ).limit(top_n)
    )
    return res_top_tracks

top_selling_tracks = get_top_selling_tracks(session, top_n=10)
for track_name, total_sold in top_selling_tracks:
    print(f"Faixa: {track_name} - Total Vendido: {total_sold}")

Faixa: The Trooper - Total Vendido: 5
Faixa: Untitled - Total Vendido: 4
Faixa: The Number Of The Beast - Total Vendido: 4
Faixa: Sure Know Something - Total Vendido: 4
Faixa: Hallowed Be Thy Name - Total Vendido: 4
Faixa: Eruption - Total Vendido: 4
Faixa: Where Eagles Dare - Total Vendido: 3
Faixa: Welcome Home (Sanitarium) - Total Vendido: 3
Faixa: Sweetest Thing - Total Vendido: 3
Faixa: Surrender - Total Vendido: 3

In [15]:
### Quem são os 10 artistas que mais venderam?
### dica: você precisa juntar as tabelas invoice_items, tracks, albums e artists
def get_top_selling_artists(session, top_n=10):
    res_top_artists = session.execute(
        select(
            Base.classes.artists.Name,
            func.sum(Base.classes.invoice_items.Quantity).label('total_sold')
        ).join(
            Base.classes.albums,
            Base.classes.artists.ArtistId == Base.classes.albums.ArtistId
        ).join(
            Base.classes.tracks,
            Base.classes.albums.AlbumId == Base.classes.tracks.AlbumId
        ).join(
            Base.classes.invoice_items,
            Base.classes.tracks.TrackId == Base.classes.invoice_items.TrackId
        ).group_by(
            Base.classes.artists.Name
        ).order_by(
            text('total_sold DESC')
        ).limit(top_n)
    )
    return res_top_artists
top_selling_artists = get_top_selling_artists(session, top_n=10)
for artist_name, total_sold in top_selling_artists:
    print(f"Artista: {artist_name} - Total Vendido: {total_sold}")  
session.close()
#!/usr/bin/env python3
from sqlalchemy import create_engine
# Criando a conexão com o banco SQLite chamado 'salarios.db'
engine = create_engine('sqlite:///salarios.db', echo=True)
# Testando a conexão
connection = engine.connect()
print("Conexão estabelecida com sucesso!")
# Fechando a conexão
connection.close()

Artista: Iron Maiden - Total Vendido: 140
Artista: U2 - Total Vendido: 107
Artista: Metallica - Total Vendido: 91
Artista: Led Zeppelin - Total Vendido: 87
Artista: Os Paralamas Do Sucesso - Total Vendido: 45
Artista: Deep Purple - Total Vendido: 44
Artista: Faith No More - Total Vendido: 42
Artista: Lost - Total Vendido: 41
Artista: Eric Clapton - Total Vendido: 40
Artista: R.E.M. - Total Vendido: 39
Conexão estabelecida com sucesso!